body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    /* flex-direction:row; */
    align-items: center;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
}

.container{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.panel{
    width: 105px;
    margin: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: 2s;
    cursor: pointer;
    color: white;
    filter: brightness(0.4) grayscale(0.8);
}

.panel p{
    position: absolute;
    opacity: 0;
    bottom: 20px;
    padding-left: 10px; 
    float: left;
}

.panel.active{
    flex: 1.5;
    filter: brightness(1) grayscale(0);

}

.panel.active p{
    opacity: 1;
    transition: 0.5s ease;
    transition-delay: 2s ;
}